<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html =>{:class => 'form-signin'}) do |f| %>
  <h2 class="form-signin-heading">Please sign in</h2>
  <%= f.text_field :email, :autofocus => true, :class => 'input-block-level', :placeholder => 'Email address' %>

  <%= f.password_field :password, :class => 'input-block-level', :placeholder => 'Password' %>

  <% if devise_mapping.rememberable? -%>
    <label class="checkbox">
      <%= f.check_box :remember_me %> Remember me
    </label>
  <% end -%>

  <%= f.submit "Sign in", :class=> "btn btn-large btn-primary" %>
<% end %>

<%= render "admins/shared/links" %>